@font-face {
  font-family: Varela;
  src: url(font/varelaround-regular-webfont.woff2);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "varela";
  color: white;
}

img,
video {
  height: auto;
  max-width: 100%;
  display: block;
}

video {
  border-radius: 20px;
  border-style: solid;
  border-width: 10px;
}

iframe {
  border-radius: 20px;
  border-style: solid;
  border-width: 10px;
}

#bred_gallery {
  background-image: url(photos/bred1.webp);
  background-size: cover;
  width: 60%;
  aspect-ratio: 1000/750;
  position: relative;
  left: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: lime;
  border-radius: 20px;
  border-style: solid;
  border-width: 10px;
}

.bred_gal {
  animation-name: bred_gal;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bred_gal {
  33% {
    background-image: url(photos/bred2.webp);
  }
  66% {
    background-image: url(photos/bred4.webp);
  }
  100% {
    background-image: url(photos/bred6.webp);
  }
}

#hoej_gallery {
  background-image: url(photos/hoej1.webp);
  background-size: cover;
  width: 60%;
  aspect-ratio: 1000/1333;
  position: relative;
  left: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: blue;
  border-radius: 20px;
  border-style: solid;
  border-width: 10px;
}

.hoej_gal {
  animation-name: hoej_gal;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2s;
}

@keyframes hoej_gal {
  33% {
    background-image: url(photos/hoej2.webp);
  }
  66% {
    background-image: url(photos/hoej3.webp);
  }
  100% {
    background-image: url(photos/hoej8.webp);
  }
}

#billeder {
  display: grid;
  grid-template-rows: 4 * 1fr;
}

#billeder :hover {
  animation-play-state: paused;
  border-color: white;
}

.photos {
  display: flex;
}

main {
  background-color: black;
  padding-bottom: 70px;
}

#video_container {
  display: grid;
  justify-content: end;
  gap: 50px;
}

a {
  color: limegreen;
  text-decoration: none;
}

a:hover {
  color: blue;
}

footer {
  background-color: yellow;
  padding-top: 40px;
  padding-bottom: 20px;
}

h1 {
  font-size: 7rem;
  color: limegreen;
  -webkit-text-stroke: 2px black;
}

h2 {
  font-size: 2rem;
  color: greenyellow;
}

h3 {
  color: yellow;
}

header {
  background-image: url(photos/background.webp);
  background-size: cover;
}

header h2 {
  font-size: 5rem;
-webkit-text-stroke: 2px black;
}